article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 5.56rem;
  margin: 0; }

html {
  font-size: 125%; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .1rem;
  color: #2c2c2c; }

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%; }

ul {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: .05rem; }
  ul a {
    text-decoration: none; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto; }

.button {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .05rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #063974;
  padding: 10px 15px;
  border: 2px solid #063974;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .button:hover, .button:focus {
    background: #fafffe;
    border: 2px solid #063974;
    color: #063974; }

form input {
  border: none;
  border-bottom: 2px solid #50e3c2; }

input[type=text],
input[type=email] {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: .1rem; }

textarea {
  padding: 3%;
  border: 2px solid #50e3c2;
  resize: none;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: .1rem; }

header {
  height: 90vh;
  padding: 1px;
  position: relative; }

.index header {
  background: url(assets/home-image-1.jpg) center no-repeat;
  background-size: cover; }

.index header:before {
  content: '';
  background: url(assets/header-box.jpg) center no-repeat;
  background-size: cover;
  height: 75vh;
  width: 40%;
  position: absolute;
  bottom: -15%;
  left: 0; }

@-webkit-keyframes slide-right {
  from {
    left: -600px; }
  to {
    left: 10px; } }

@keyframes slide-right {
  from {
    left: -600px; }
  to {
    left: 10px; } }

@-webkit-keyframes slide-left {
  from {
    right: -600px; }
  to {
    right: 0; } }

@keyframes slide-left {
  from {
    right: -600px; }
  to {
    right: 0; } }

.hero-text {
  z-index: 1;
  max-width: 50%;
  position: relative;
  top: 30%;
  left: 30%; }
  .hero-text h1 {
    color: #063974;
    position: relative;
    -webkit-animation: slide-left 1s;
    animation: slide-left 1s; }
  .hero-text h2 {
    font-size: 3.1rem;
    letter-spacing: 0.335rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c;
    position: relative;
    top: 25px;
    left: 10px;
    -webkit-animation: slide-right 1s;
    animation: slide-right 1s; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700; }

.header-nav ul a {
  margin: 0 25px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block; }
  .header-nav ul a:hover, .header-nav ul a:focus {
    color: #50e3c2; }

.header-nav .current {
  color: #50e3c2;
  border-bottom: 2px solid #fafffe; }

a.logo {
  font-family: "Playfair Display SC", serif;
  font-size: 1.73rem;
  color: #50e3c2;
  text-decoration: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  display: inline-block; }
  a.logo:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    color: #bef5e8; }

.hamburger {
  height: 40px;
  width: 50px;
  cursor: pointer;
  padding-top: 10px;
  display: none; }

.line1,
.line2,
.line3 {
  background: #50e3c2;
  height: 3px;
  width: 50px;
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 3px; }

.line1.active {
  background: #50e3c2;
  height: 3px;
  width: 50px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10%;
  -ms-transform-origin: 10%;
  transform-origin: 10%;
  border-radius: 3px; }

.line2.active {
  visibility: hidden;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }

.line3.active {
  background: #50e3c2;
  height: 3px;
  width: 50px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10%;
  -ms-transform-origin: 10%;
  transform-origin: 10%;
  top: 4%;
  border-radius: 3px; }

@media (max-width: 1100px) {
  .hero-text {
    left: 15%; } }

@media (max-width: 900px) {
  .header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: -270px;
    right: 0;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), color-stop(95%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 95%);
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 95%);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 95%);
    padding-top: 60px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    .header-nav ul:focus-within {
      top: 0; }
    .header-nav ul li {
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .header-nav ul li:hover {
        background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), color-stop(95%, rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 95%);
        background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 95%);
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 95%); }
    .header-nav ul a {
      margin: 0 10px; }
  .header-nav.active ul {
    top: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: block; }
  .hamburger {
    display: block;
    position: relative;
    z-index: 10; }
  .hero-text h1 {
    font-size: 4.5rem; }
  .hero-text h2 {
    font-size: 2.1rem; }
  .index header:before {
    display: none; } }

@media (max-width: 730px) {
  .hero-text h1 {
    font-size: 3.5rem; }
  .hero-text h2 {
    font-size: 1.5rem; } }

@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 2.5rem; }
  .hero-text h2 {
    font-size: 1rem; } }

@media (max-width: 415px) {
  .hero-text h1 {
    font-size: 1.7rem; }
  .hero-text h2 {
    font-size: 1rem;
    letter-spacing: 0.2rem; }
  .header-nav a.logo {
    font-size: 1.3em; } }

.about {
  background: #fafffe;
  padding: 130px 0 5% 0; }
  .about h2 {
    font-size: 1.75rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c; }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about-text {
  padding-right: 8%;
  width: 70%; }

.about-image img {
  -webkit-box-shadow: -15px 15px 0px 0px #50e3c2;
  box-shadow: -15px 15px 0px 0px #50e3c2; }
  @media (max-width: 600px) {
    .about-image img {
      -webkit-box-shadow: -8px 8px 0px 0px #50e3c2;
      box-shadow: -8px 8px 0px 0px #50e3c2; } }

@media (max-width: 900px) {
  .about {
    padding-top: 5%; }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .about-text {
    width: 100%;
    padding: 0;
    text-align: center; }
  .about-image {
    margin: 0 auto 5% auto; } }

.gallery {
  background: #d2f9f1;
  padding: 5% 0; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery-item {
  width: 31%;
  overflow: hidden; }

.gallery-item img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .gallery-item img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 600px) {
  .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .gallery-item {
    width: 75%;
    margin: 0 auto; }
    .gallery-item:nth-of-type(2) {
      margin: 3% auto; } }

.community {
  background: #fafffe;
  padding: 3% 0 5% 0; }
  .community h2 {
    margin: 0;
    padding-left: 60px;
    font-size: 1.5rem;
    letter-spacing: 0.16rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .community p {
    padding-left: 60px; }

.community-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.community-item {
  width: 50%;
  padding: 15px 0;
  position: relative; }
  .community-item:hover h2 {
    font-size: 1.75rem; }
  .community-item:hover i {
    color: #50e3c2;
    background: #2c2c2c; }
  .community-item i {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background: #50e3c2;
    border-radius: 50%;
    padding-top: .45rem;
    position: absolute;
    top: 1.3rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

@media (max-width: 730px) {
  .community-item {
    width: 100%; } }

.info {
  background: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .info h2 {
    font-size: 1.75rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #063974; }

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info-item-text1,
.info-item-text2,
.info-item-image1,
.info-item-image2 {
  width: 45%; }

.info-item-image1 img {
  position: relative;
  top: -25px;
  -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
  box-shadow: 15px 15px 0px 0px #50e3c2; }
  @media (max-width: 600px) {
    .info-item-image1 img {
      -webkit-box-shadow: 8px 8px 0px 0px #50e3c2;
      box-shadow: 8px 8px 0px 0px #50e3c2; } }

.info-item-image2 img {
  position: relative;
  bottom: -25px;
  -webkit-box-shadow: -15px 15px 0px 0px #50e3c2;
  box-shadow: -15px 15px 0px 0px #50e3c2; }
  @media (max-width: 600px) {
    .info-item-image2 img {
      -webkit-box-shadow: -8px 8px 0px 0px #50e3c2;
      box-shadow: -8px 8px 0px 0px #50e3c2; } }

.info-item-text1 {
  padding: 2% 5% 4% 0; }

.info-item-text2 {
  padding: 2% 0 4% 5%;
  text-align: right; }

.info-bottom-image {
  background: url(assets/banner-image.jpg) center no-repeat;
  background-size: cover;
  height: 50vh; }

@media (max-width: 1100px) {
  .info-wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto; }
  .info-item-text1,
  .info-item-text2 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 3% 0 6% 0; }
  .info-item-image1,
  .info-item-image2 {
    margin: 2% auto;
    width: 75%; }
  .info-item:nth-of-type(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info-item:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .info-item img {
    top: 0;
    bottom: 0; }
  .info-item-image1 img {
    margin-top: -10%; } }

@media (max-width: 600px) {
  .info-item-image1,
  .info-item-image2 {
    width: 100%; } }

.free-trip {
  background: #fafffe;
  text-align: center;
  padding: 8% 0 10% 0; }
  .free-trip h2 {
    font-size: 1.75rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c; }

footer {
  background: #2c2c2c;
  text-align: center;
  padding: 5px; }
  footer p {
    color: #fff;
    margin: 0; }

@media (max-width: 600px) {
  footer p {
    font-size: .7rem; } }

.blog header {
  background: url(assets/blog-image-1.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;
  padding: 1px;
  position: relative; }

.blog .header-text {
  color: #fff;
  position: relative;
  top: 45%; }
  .blog .header-text h2 {
    font-size: 4.5rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0; }

.blog-main {
  background: #fafffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .blog-main article {
    width: 60%;
    border-right: 5px solid #50e3c2;
    border-bottom: 5px solid #50e3c2;
    position: relative;
    margin-bottom: 25px; }
  .blog-main aside {
    width: 25%;
    height: 100%;
    background: #fff;
    margin-top: 5%; }
    .blog-main aside ul {
      list-style: disc; }

.blog-main aside {
  width: 25%;
  height: 100%;
  background: #fff;
  margin-top: 5%; }
  .blog-main aside ul {
    list-style: disc;
    color: #2c2c2c; }

.blog-aside-text h2 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-family: "Lato", sans-serif;
  line-height: 2.9rem;
  font-weight: 700;
  margin: 0;
  color: #063974; }

.blog-aside-text a {
  text-decoration: none;
  margin-bottom: 5%;
  display: inline-block; }

.blog-aside-text p {
  margin: 0; }

.blog-post {
  padding: 0% 7% 2% 13%;
  margin-top: -60px; }
  .blog-post h2 {
    font-size: 1.75rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c; }
  .blog-post p:nth-of-type(1) {
    font-style: italic;
    margin: 0 0 5% 0;
    color: #063974; }
    .blog-post p:nth-of-type(1) span {
      font-weight: bold; }

.blog-image {
  -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
  box-shadow: 15px 15px 0px 0px #50e3c2;
  width: calc(100% - 10px);
  position: relative;
  top: -110px; }
  @media (max-width: 600px) {
    .blog-image {
      -webkit-box-shadow: 8px 8px 0px 0px #50e3c2;
      box-shadow: 8px 8px 0px 0px #50e3c2; } }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%; }

.blog-comments {
  width: 60%; }
  .blog-comments h2 {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5%;
    color: #2c2c2c; }

.comment-image {
  max-width: 80px;
  width: 10%; }

.comment-text {
  width: 90%;
  padding-left: 5%; }
  .comment-text h2 {
    margin: 0; }
  .comment-text h3 {
    margin: 0;
    font-size: 1rem;
    letter-spacing: .05rem;
    color: #063974; }
  .comment-text p {
    margin: 10px 0; }

.blog-form {
  background: #fafffe;
  width: 100%;
  margin: 1% 0 5% 0; }
  .blog-form form {
    width: 60%; }
    .blog-form form input {
      margin-bottom: 5%;
      padding: 3%;
      width: 45%; }
      .blog-form form input:nth-of-type(2) {
        margin-left: 8%; }
    .blog-form form textarea {
      width: 100%;
      -ms-flex-item-align: end;
      align-self: flex-end; }
    .blog-form form button {
      width: 100%;
      margin: 15px 0; }

@media (max-width: 900px) {
  .blog-main article {
    width: 65%; }
  .blog-main aside {
    width: 30%; }
  .blog-post {
    padding: 0% 4% 2% 9%; }
    .blog-post h2 {
      font-size: 1.45rem; } }

@media (max-width: 730px) {
  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .blog-main article,
  .blog-main aside,
  .blog-comments,
  .blog-form form {
    width: 100%; }
  .blog-main article {
    border-right: none; }
  .blog-main aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5%; }
    .blog-main aside .blog-aside-image {
      width: 45%;
      -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
      box-shadow: 15px 15px 0px 0px #50e3c2; } }
    @media (max-width: 730px) and (max-width: 600px) {
      .blog-main aside .blog-aside-image {
        -webkit-box-shadow: 8px 8px 0px 0px #50e3c2;
        box-shadow: 8px 8px 0px 0px #50e3c2; } }

@media (max-width: 730px) {
    .blog-main aside .blog-aside-text {
      width: 50%;
      padding: 0 2%; }
  .blog-image {
    top: 0;
    width: 85%;
    margin: 0 auto; }
  .blog-post {
    margin-top: 5%; }
    .blog-post h2 {
      letter-spacing: .1rem; }
  .blog .header-text h2 {
    font-size: 3.5rem; } }

@media (max-width: 600px) {
  .blog-main aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
    position: relative;
    z-index: 0; }
    .blog-main aside .blog-aside-image {
      width: 50%;
      -webkit-box-shadow: none;
      box-shadow: none;
      z-index: -1;
      margin-top: -150px; }
    .blog-main aside .blog-aside-text {
      width: 90%;
      padding: 30% 3% 3% 3%;
      margin: -30% auto 0 auto;
      background: #fff;
      border: 20px solid #50e3c2;
      z-index: -2; }
  .blog .header-text h2 {
    font-size: 3rem; }
  .blog-form form input {
    width: 100%; }
    .blog-form form input:nth-of-type(2) {
      margin-left: 0; } }

.contact header {
  background: url(assets/contact-image-1.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;
  padding: 1px;
  position: relative; }

.contact .header-text {
  color: #fff;
  position: relative;
  top: 45%; }
  .contact .header-text h2 {
    font-size: 4.5rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0; }

.contact-form {
  background: #fafffe;
  width: 100%; }
  .contact-form .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.contact-form form {
  width: 60%;
  padding: 4%;
  background: #fff;
  -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
  box-shadow: 15px 15px 0px 0px #50e3c2;
  position: relative;
  top: -110px; }
  @media (max-width: 600px) {
    .contact-form form {
      -webkit-box-shadow: 8px 8px 0px 0px #50e3c2;
      box-shadow: 8px 8px 0px 0px #50e3c2; } }
  .contact-form form input {
    width: 46%;
    margin-bottom: 5%;
    padding: 3%; }
    .contact-form form input:nth-of-type(2) {
      margin-left: 6%; }
  .contact-form form textarea {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .contact-form form button {
    width: 100%;
    margin: 15px 0; }

.contact-info {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -90px;
  color: #2c2c2c; }
  .contact-info p {
    margin: 0; }
  .contact-info a {
    color: #2c2c2c;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: .1rem;
    margin: 0;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .contact-info a:hover {
      color: #50e3c2; }
  .contact-info .mail {
    margin: 5% 0;
    font-size: 1.2rem;
    font-weight: 700; }

.contact-socials a {
  font-size: 1.3rem;
  padding-right: 7%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  display: inline-block; }
  .contact-socials a:hover {
    color: #50e3c2;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

@media (max-width: 900px) {
  .contact-form .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-form form {
    width: 100%; }
  .contact-info {
    width: 100%;
    text-align: center;
    padding: 3% 0; }
    .contact-info .mail {
      margin: 3% 0; }
  .contact-socials a {
    padding: 0 2%; } }

@media (max-width: 730px) {
  .contact .header-text h2 {
    font-size: 3.5rem; } }

@media (max-width: 600px) {
  .contact .header-text h2 {
    font-size: 3rem; }
  .contact-form form input {
    width: 100%; }
    .contact-form form input:nth-of-type(2) {
      margin-left: 0; } }

@media (max-width: 422px) {
  .contact .header-text {
    top: 35%; } }

/*# sourceMappingURL=style.css.map */