article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 5.56rem;
  margin: 0; }

html {
  font-size: 125%; }

p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .1rem; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

ul {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: .05rem; }
  ul a {
    text-decoration: none; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto; }

.button {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .05rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #063974;
  padding: 10px 15px;
  border: 2px solid #063974;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .button:hover {
    background: #fafffe;
    border: 2px solid #063974;
    color: #063974; }

header {
  height: 90vh;
  padding: 1px;
  position: relative; }

.index header {
  background: url(assets/home-image-1.jpg) center no-repeat;
  background-size: cover; }

.index header:before {
  content: '';
  background: url(assets/header-box.jpg) center no-repeat;
  background-size: cover;
  height: 75vh;
  width: 40%;
  position: absolute;
  bottom: -15%;
  left: 0; }

.index .hero-text {
  z-index: 1;
  max-width: 50%;
  position: relative;
  top: 35%;
  left: 35%; }
  .index .hero-text h1 {
    color: #063974; }
  .index .hero-text h2 {
    font-size: 3.1rem;
    letter-spacing: 0.335rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0;
    color: #0c5f4c;
    position: relative;
    top: 25px;
    left: 10px; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700; }

.header-nav a {
  margin: 0 25px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .header-nav a:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    color: #50e3c2; }

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: 1.73rem;
  color: #50e3c2; }

.about {
  background: #fafffe;
  padding: 130px 0 5% 0; }

.about h2 {
  font-size: 1.75rem;
  letter-spacing: 0.19rem;
  font-family: "Lato", sans-serif;
  line-height: 2.9rem;
  font-weight: 700;
  margin: 0; }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.about-text {
  padding-right: 8%;
  width: 70%; }

.about-image img {
  -webkit-box-shadow: -15px 15px 0px 0px #50e3c2;
  box-shadow: -15px 15px 0px 0px #50e3c2; }

.gallery {
  background: #d2f9f1;
  padding: 5% 0; }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery-item {
  width: 31%; }

.community {
  background: #fafffe;
  padding: 3% 0; }
  .community h2 {
    margin: 0;
    padding-left: 50px; }
  .community p {
    padding-left: 50px; }

.community-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.community-item {
  width: 50%;
  padding: 15px 0;
  position: relative; }

.community-item i {
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  background: #50e3c2;
  border-radius: 50%;
  padding-top: .3rem;
  position: absolute;
  top: .5rem; }

.info {
  background: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info-item-text1,
.info-item-text2,
.info-item-image1,
.info-item-image2 {
  width: 45%; }

.info-item-image1 img {
  position: relative;
  top: -25px;
  -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
  box-shadow: 15px 15px 0px 0px #50e3c2; }

.info-item-image2 img {
  position: relative;
  bottom: -25px;
  -webkit-box-shadow: -15px 15px 0px 0px #50e3c2;
  box-shadow: -15px 15px 0px 0px #50e3c2; }

.info-item-text1 {
  padding: 2% 5% 4% 0; }

.info-item-text2 {
  padding: 2% 0 4% 5%;
  text-align: right; }

.info-bottom-image {
  background: url(assets/banner-image.jpg) center no-repeat;
  background-size: cover;
  height: 50vh; }

.free-trip {
  background: #fafffe;
  text-align: center;
  padding: 8% 0 10% 0; }
  .free-trip h2 {
    font-size: 1.75rem;
    letter-spacing: 0.19rem;
    font-family: "Lato", sans-serif;
    line-height: 2.9rem;
    font-weight: 700;
    margin: 0; }

footer {
  background: #2c2c2c;
  text-align: center;
  padding: 5px; }
  footer p {
    color: #fff;
    margin: 0; }

.blog header {
  background: url(assets/blog-image-1.jpg) no-repeat center;
  background-size: cover;
  height: 75vh;
  padding: 1px;
  position: relative; }

.blog-main {
  background: #fafffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog-main article {
  width: 60%;
  border-right: 5px solid #50e3c2;
  border-bottom: 5px solid #50e3c2;
  position: relative; }

.blog-main aside {
  width: 25%;
  height: 100%;
  background: #fff;
  margin-top: 5%;
  border: .5px solid black; }
  .blog-main aside ul {
    list-style: disc; }

.blog-post {
  padding: 2% 7% 2% 13%; }

.blog-image {
  -webkit-box-shadow: 15px 15px 0px 0px #50e3c2;
  box-shadow: 15px 15px 0px 0px #50e3c2;
  width: calc(100% - 10px); }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8% 0; }

.blog-comments {
  width: 60%; }

.comment-image {
  max-width: 80px;
  width: 10%; }

.comment-text {
  width: 90%;
  padding-left: 5%; }
  .comment-text h2 {
    margin: 0; }

.blog-form {
  background: #fafffe; }

.blog-form form {
  width: 60%;
  margin: 30px 0; }
  .blog-form form input {
    border-bottom: 2px solid #50e3c2;
    margin-bottom: 5%;
    padding: 3%; }
    .blog-form form input:nth-of-type(2) {
      margin-left: 8%; }

.blog-form input[type=text],
.blog-form input[type=email] {
  width: 45%; }

.blog-form textarea {
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 3%; }

.blog-form button {
  width: 100%;
  margin: 15px 0; }
