.blog header {
    background: url(assets/blog-image-1.jpg) no-repeat center;
    background-size: cover;
    height: 70vh;
    padding: 1px;
    position: relative;
}

.blog .header-text {
    color: #fff;
    position: relative;
    top: 45%;
    h2 {
        @include h2(4.5rem, 0.19rem);
    }
}

.blog-main {
    background: $lightBackground;
    display: flex;
    justify-content: space-between;
}

.blog-main article {
    width: 60%;
    border-right: 5px solid $primaryColour;
    border-bottom: 5px solid $primaryColour;
    position: relative;
    margin-bottom: 25px;
}

.blog-main aside {
    width: 25%;
    height: 100%;
    background: #fff;
    margin-top: 5%;
    ul {
        list-style: disc;
    }
}

.blog-aside-text h2 {
    @include h2(1.5rem, .05rem);
    color: $buttonColour;
}

.blog-post {
    padding: 0% 7% 2% 13%;
    margin-top: -60px;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $headerColour1;
    }
    p:nth-of-type(1) {
        font-style: italic;
        margin-top: 0;
        span {
            font-weight: bold;
        }
    }
}

.blog-image {
    @include box-shadow-right;
    width: calc(100% - 10px); //accounts for width of border and box-shadow
    position: relative;
    top: -110px;
}

.comment {
    display: flex;
    margin-bottom: 10%;
}

.blog-comments {
    width: 60%;
    h2 {
        @include h2(1.3rem, 0.05rem);
        margin-bottom: 5%;
    }
}

.comment-image {
    max-width: 80px;
    width: 10%;
}

.comment-text {
    width: 90%;
    padding-left: 5%;
    h2 {
        margin: 0;
    }
    h3 {
        margin: 0;
        font-size: 1rem;
        letter-spacing: .05rem;
        color: $buttonColour;
    }
    p {
        margin: 10px 0;
    }
}

.blog-form {
    background: $lightBackground;
    width: 100%;
    margin: 1% 0 5% 0;
}

.blog-form form {
    width: 60%;
    input {
        // border: none;
        // border-bottom: 2px solid $primaryColour;
        margin-bottom: 5%;
        padding: 3%;
        &:nth-of-type(2) {
            margin-left: 9%;
        }
    }
}

.blog-form input[type=text],
.blog-form input[type=email] {
    width: 45%;
    // font-size: 1rem;
    // font-family: $baseFont;
    // line-height: 1.6rem;
    // font-weight: 300;
    // letter-spacing: .1rem;
}

.blog-form textarea {
    width: 100%;
    align-self: flex-end;
    // padding: 3%;
    // border: 2px solid $primaryColour;
    // resize: none;
    // font-size: 1rem;
    // font-family: $baseFont;
    // line-height: 1.6rem;
    // font-weight: 300;
    // letter-spacing: .1rem;
}

.blog-form button {
    width: 100%;
    margin: 15px 0;
}