.contact header {
    background: url(assets/contact-image-1.jpg) no-repeat center;
    background-size: cover;
    height: 70vh;
    padding: 1px;
    position: relative;
}

.contact .header-text {
    color: #fff;
    position: relative;
    top: 45%;
    h2 {
        @include h2(4.5rem, 0.19rem);
    }
}

.contact-form {
    background: $lightBackground;
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-form form {
    width: 60%;
    padding: 4%;
    background: #fff;
    @include box-shadow-right;
    position: relative;
    top: -110px;
    input {
        width: 46%;
        margin-bottom: 5%;
        padding: 3%;
        &:nth-of-type(2) {
            margin-left: 6%;
        }
    }
    textarea {
        width: 100%;
        align-self: flex-end;
    }
    button {
        width: 100%;
        margin: 15px 0;
    }
}

.contact-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: -90px;
    p {
        margin: 0;
    }
    a {
        color: #000;
        text-decoration: none;
        font-family: $baseFont;
        font-size: 1rem;
        line-height: 1.6rem;
        letter-spacing: .1rem;
        &:nth-of-type(2) {
            margin-top: 7%;
        }
        &:nth-of-type(1) {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }       
}

.contact-socials i {
    font-size: 1.3rem;
    padding: 5% 5% 7% 0;
    transition: all .2s;
    &:hover {
        color: $primaryColour;
        transform: scale(1.1);
    }
}

// CONTACT SECTION - MEDIA QUERIES --------------------------

@media (max-width: 900px) {
    .contact-form .wrapper {
        flex-direction: column;
    }

    .contact-form form {
        width: 100%;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        padding: 3% 0 5% 0;
        i {
            padding: 2%;
        }
        a {
            margin: 0;
        }
    }
}

@media (max-width: 730px) {

    .contact .header-text h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {

    .contact .header-text h2 {
        font-size: 3rem;
    }

    .contact-form form input {
        width: 100%;
        &:nth-of-type(2) {
            margin-left: 0;
        }
    }
}

@media (max-width: 422px) {

    .contact .header-text {
        top: 35%;
    }
}
