footer {
    background: #2c2c2c;
    text-align: center;
    padding: 5px;
    p {
        color: #fff;
        margin: 0;
    }
}

@media (max-width: 600px) {
    
    footer p {
        font-size: .7rem;
    }
}