footer {
    background: #2c2c2c;
    padding: 5px;
    text-align: center;
    position: relative;
    p {
        color: #999;
        margin: 0;
    }
    a {
        color: $primaryColour;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    
    footer p {
        font-size: .7rem;
    }
}