header {
    height: 90vh;
    padding: 1px;
    position: relative;
}   

.index header {
    background: url(assets/home-image-1.jpg) center no-repeat;
    background-size: cover;
}

.index header:before {
    content: '';
    background: url(assets/header-box.jpg) center no-repeat;
    background-size: cover;
    height: 75vh;
    width: 40%;
    position: absolute;
    bottom: -15%;
    left: 0;
}

.index .hero-text {
    z-index: 1; 
    max-width: 50%;
    position: relative;
    top: 35%;
    left: 35%;
    h1 {
        color: #063974;
    }
    h2 {
        @include h2(3.1rem, .335rem);
        color: $headerColour1;
        position: relative;
        top: 25px;
        left: 10px;
    }
}

// NAVIGATION

.header-nav {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 700;
    }
}

.header-nav a {
    margin: 0 25px;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease;
    display: inline-block;
    &:hover {
        color: $primaryColour;
    }
}

.header-nav .current {
    color: $primaryColour;
    border-bottom: 2px solid $lightBackground;
}

.logo {
    font-family: $secondaryFont;
    font-size: 1.73rem;
    color: $primaryColour;
}

