// ABOUT SECTION

.about {
    background: $lightBackground;
    padding: 130px 0 5% 0;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $headerColour1;
    }
}

.about-container {
    display: flex;
}

.about-text {
    padding-right: 8%;
    width: 70%;
}

.about-image img {
    @include box-shadow-left;
}

// ABOUT SECTION - MEDIA QUERIES --------------------------

@media (max-width: 900px) {

    .about {
        padding-top: 5%;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .about-text {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .about-image {
        margin: 0 auto 5% auto;
    }
}


// GALLERY SECTION

.gallery {
    background: $darkBackground;
    padding: 5% 0;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    width: 31%;
    overflow: hidden;
}

.gallery-item img {
    transform: scale(1.3);
    transition: all .3s ease;
    &:hover {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .gallery-container {
        flex-direction: column;
    }

    .gallery-item {
        width: 75%;
        margin: 0 auto;
        &:nth-of-type(2) {
            margin: 3% auto;
        }
    }
}

// COMMUNITY SECTION

.community {
    background: $lightBackground;
    padding: 3% 0 5% 0;
    h2 {
        margin: 0;
        padding-left: 60px;
        @include h2(1.5rem, 0.16rem);
        color: $headerColour1;
        transition: all .3s ease;
    }
    p {
        padding-left: 60px;
    }
}

.community-container {
    display: flex;
    flex-wrap: wrap;
}

.community-item {
    width: 50%;
    padding: 15px 0;
    position: relative;
    &:hover h2 {
        font-size: 1.75rem;
    }
    &:hover i {
        color: $primaryColour;
        background: $bodyFontColour;
    }
    i {
        width: 2rem;
        height: 2rem;
        text-align: center;
        background: $primaryColour;
        border-radius: 50%;
        padding-top: .45rem;
        position: absolute;
        top: 1.3rem;
        transition: all .3s ease;
    }
}

// COMMUNITY SECTION - MEDIA QUERIES --------------------------

@media (max-width: 730px) {

    .community-item {
        width: 100%;
    }
}

// INFO SECTION

.info {
    background: $darkBackground;
    display: flex;
    flex-direction: column;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $buttonColour;
    }
}

.info-item {
    display: flex;
    justify-content: space-between;
}

.info-item-text1,
.info-item-text2,
.info-item-image1,
.info-item-image2 {
    width: 45%;
}

.info-item-image1 img {
    position: relative;
    top: -25px;
    @include box-shadow-right;
}

.info-item-image2 img {
    position: relative;
    bottom: -25px;
    @include box-shadow-left;
}

.info-item-text1 {
    padding: 2% 5% 4% 0;
}

.info-item-text2 {
    padding: 2% 0 4% 5%;
    text-align: right;
}

.info-bottom-image {
    background: url(assets/banner-image.jpg) center no-repeat;
    background-size: cover;
    height: 50vh;
}

// INFO SECTION - MEDIA QUERIES --------------------------

@media (max-width: 1100px) {

    .info-wrapper {
        max-width: 1100px;
        width: 90%;
        margin: 0 auto;
    }

    .info-item-text1,
    .info-item-text2 {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 3% 0 6% 0;
    }

    .info-item-image1,
    .info-item-image2 {
        margin: 2% auto;
        width: 75%;
    }

    .info-item:nth-of-type(1) {
        flex-direction: column;
    }

    .info-item:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .info-item img {
        top: 0;
        bottom: 0;
    }

    .info-item-image1 img {
        margin-top: -10%;
    }
}

@media (max-width: 600px) {

    .info-item-image1,
    .info-item-image2 {
        width: 100%;
    }
}

// FREE TRIP SECTION

.free-trip {
    background: $lightBackground;
    text-align: center;
    padding: 8% 0 10% 0;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $headerColour1;
    }
}