// ABOUT SECTION

.about {
    background: $lightBackground;
    padding: 130px 0 5% 0;
}

.about h2 {
    @include h2(1.75rem, 0.19rem);
    color: $headerColour1;
}

.about-container {
    display: flex;
}

.about-text {
    padding-right: 8%;
    width: 70%;
}

.about-image img {
    @include box-shadow-left;
}

// GALLERY SECTION

.gallery {
    background: $darkBackground;
    padding: 5% 0;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
}

.gallery-item {
    width: 31%;
}

// COMMUNITY SECTION

.community {
    background: $lightBackground;
    padding: 3% 0;
    h2 {
        margin: 0;
        padding-left: 60px;
        @include h2(1.5rem, 0.16rem);
        color: $headerColour1;
    }
    p {
        padding-left: 60px;
    }
}

.community-container {
    display: flex;
    flex-wrap: wrap;
}

.community-item {
    width: 50%;
    padding: 15px 0;
    position: relative;
}

.community-item i {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background: $primaryColour;
    border-radius: 50%;
    padding-top: .45rem;
    position: absolute;
    top: 1.3rem;
}

// INFO SECTION

.info {
    background: $darkBackground;
    display: flex;
    flex-direction: column;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $buttonColour;
    }
}

.info-item {
    display: flex;
    justify-content: space-between;
}

.info-item-text1,
.info-item-text2,
.info-item-image1,
.info-item-image2 {
    width: 45%;
}

.info-item-image1 img {
    position: relative;
    top: -25px;
    @include box-shadow-right;
}

.info-item-image2 img {
    position: relative;
    bottom: -25px;
    @include box-shadow-left;
}

.info-item-text1 {
    padding: 2% 5% 4% 0;
}

.info-item-text2 {
    padding: 2% 0 4% 5%;
    text-align: right;
}

.info-bottom-image {
    background: url(assets/banner-image.jpg) center no-repeat;
    background-size: cover;
    height: 50vh;
}

// FREE TRIP SECTION

.free-trip {
    background: $lightBackground;
    text-align: center;
    padding: 8% 0 10% 0;
    h2 {
        @include h2(1.75rem, 0.19rem);
        color: $headerColour1;
    }
}

// .free-trip > div {
//     width: 75%;
// }


